{{> head }}
   
{{> navbar }}

<div class="row">
    
    <div class="col-md-8">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur a veniam dolorum maiores modi quidem repellat consequuntur, minus molestias nemo perspiciatis, vitae quae. Rerum minima assumenda aspernatur quo quos voluptate.</p>
    </div>

    <div class="col-md-4 ">
        <img src="assets/img/about.png" alt="" class="img-thumbnail" width="200px">
    </div>
</div>

{{> footer }}